@model Order
@{
    ViewData["Title"] = "Edit";
}

<div style="background: #1979a9; padding: 15px; color: #fff;">
    <h2 class="m-0">Update @Model.OrderNumber Order</h2>
</div>

<form style="margin: 30px 0px;" asp-controller="Order" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="row ml-2">
        <div class="form-group" style="width:49.5%">
            <label asp-for="@Model.OrderNumber" style="font-family:auto; font-size:18px"></label>
            <input asp-for="@Model.OrderNumber" class="form-control" readonly />
        </div>
        <div class="form-group" style="width:49.5%">
            <label asp-for="@Model.OrderDate" style="font-family:auto; font-size:18px"></label>
            <input asp-for="@Model.OrderDate" class="form-control" readonly />
        </div>
    </div>
    <div class="row ml-2">
        <div class="form-group" style="width:49.5%">
            <label asp-for="@Model.Username" style="font-family:auto; font-size:18px"></label>
            <input asp-for="@Model.Username" class="form-control" readonly />
        </div>
        <div class="form-group" style="width:49.5%">
            <label asp-for="@Model.PhoneNumber" style="font-family:auto; font-size:18px"></label>
            <input asp-for="@Model.PhoneNumber" class="form-control" readonly />
        </div>
    </div>
    <div class="row ml-2">
        <div class="form-group" style="width:33%">
            <label asp-for="@Model.Country" style="font-family: auto;  font-size:18px"></label>
            <input asp-for="@Model.Country" class="form-control" readonly />
        </div>
        <div class="form-group" style="width:33%">
            <label asp-for="@Model.City" style="font-family:auto; font-size:18px"></label>
            <input asp-for="@Model.City" class="form-control" readonly />
        </div>
        <div class="form-group" style="width:33%">
            <label asp-for="@Model.Address" style="font-family:auto; font-size:18px"></label>
            <input asp-for="@Model.Address" class="form-control" readonly />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Total" style="font-family:auto; font-size:18px"></label>
        <input asp-for="@Model.Total" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-primary btn-icon-text">
        <i class="mdi mdi-file-check btn-icon-prepend"></i>
        Submit
    </button>
    <button asp-action="Index" type="submit" class="btn btn-secondary btn-icon-text">
        <i class="mdi mdi-reload btn-icon-prepend"></i>
        Cancel
    </button>
</form>

<h6 class="mt-5 mb-0" style="padding: 10px; background: #5dbcd2; color: white;">
    Customer's Orders
</h6>

@if (Model.OrderLines.Count() == 0)
{
    <p style="text-align: center;
    font-size: 25px;
    font-family: auto;
    margin: 40px 0px;">No Orders</p>
}
else
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderLine in Model.OrderLines)
            {
                <tr>
                    <td>
                        <img src="~/img/@orderLine.Product.Image" style="width:120px; height:90px; border-radius:0" />
                    </td>
                    <td>@orderLine.Product.Name</td>
                    <td>@orderLine.Quantity</td>
                    <td>@orderLine.Price$</td>
                    <td>
                        <form asp-route-id="@orderLine.Id" asp-controller="Order" asp-action="Remove" method="post">
                            <input type="hidden" name="@Model.Id" value="@Model.Id" />
                            <input type="hidden" name="@orderLine.Id" value="@orderLine.Id" />
                            @*<a class="btn btn-primary" asp-controller="Order" asp-action="Edit" asp-route-id="@orderLine.Id">
                                    <i class="far fa-edit"></i>
                                </a>*@
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}




