@model Bio
<div class="row ml-1 mt-4 justify-content-center">
    <button type="button" class="btn btn-social-icon-text btn-facebook mr-3" style="width:16%">
        <a href="@Model.Facebook" style="color:white">
            <i class="mdi mdi-facebook" style="color:white"></i>Facebook
        </a>
    </button>

    <button type="button" class="btn btn-social-icon-text btn-google mr-3" style="width:15%">
        <a href="@Model.Google" style="color:white">
            <i class="mdi mdi-facebook" style="color:white"></i>Google
        </a>
    </button>

    <button type="button" class="btn btn-social-icon-text btn-twitter mr-3" style="width:15%">
        <a href="@Model.Twitter" style="color:white">
            <i class="mdi mdi-twitter" style="color:white"></i>Twitter
        </a>
    </button>

    <button type="button" class="btn btn-social-icon-text btn-pinterest mr-3" style="width:15%">
        <a href="@Model.Pinterest" style="color:white">
            <i class="mdi mdi-facebook" style="color:white"></i>Pinterest
        </a>
    </button>
    <button type="button" class="btn btn-social-icon-text btn-youtube mr-3" style="width:15%">
        <a href="@Model.Youtube" style="color:white">
            <i class="mdi mdi-youtube" style="color:white"></i>Youtube
        </a>
    </button>
    <button type="button" class="btn btn-social-icon-text btn-linkedin" style="width:15%">
        <a href="@Model.Linkedin" style="color:white">
            <i class="mdi mdi-linkedin" style="color:white"></i>Linkedin
        </a>
    </button>


</div>